html {
  background-color: aquamarine;
}

h1 {
  color: navy;
  border: white 5px solid;
  padding: 10px 20px;
  margin-bottom: 50px;
}
ul {
  border: white 5px solid;
  padding: 20px;
  margin-bottom: 20px;
}

img {
  height: 200px;
  width: auto;
  border: white 5px solid;
  padding: 10px;
}
